@media screen and (max-width: 992px) {
    .container {
        width: 95%;
        margin: 16px auto;
    }
    .location-marseille {
        flex-direction: column-reverse;
    }
    .hebergement-marseille,
    .popular-marseille {
        width: 100%;
    }
    .hebergement-marseille {
        background: #F2F2F2;
    }
    .hebergement-card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .popular-marseille article .star-header {
        width: 85%;
    }
    /* ACTIVITIES */
    .activity-card {
        min-width: 330px;
        background: white;
        border-radius: 25px;
        cursor: pointer;
    }
    .activity-card img {
        min-width: 330px;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .activity-card img {
        border: none;
    }
    .activity-card {
        margin-right: 15px;
    }
    .sm-first {
        justify-content: space-between;
    }
    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin-top: 16px;
        margin: 0 auto;
    }
    .main-header {
        flex-direction: column;
    }
    .main-header nav {
        width: 100%;
        margin: 0px auto;
    }
    .main-header nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 0px;
        border-bottom: 3px solid #F2F2F2;
        gap: 38px;
    }
    .main-header nav ul li {
        padding: 24px 0px;
        width: 120%;
        margin-left: -38px;
        text-align: center;
    }
    .main-header nav ul li:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    .main-header nav ul li a:hover {
        border: none;
    }
    .form-section {
        width: 90%;
        margin: 0 auto;
    }
    form .icon-search-btn {
        display: block;
    }
    form .search-btn {
        display: none;
    }
    .location-description i {
        width: 40px;
    }
    /* HEBERGEMENT */
    .hebergement-card,
    .popular-card,
    .activity-card {
        width: 90%;
    }
    .location-marseille {
        margin-top: 2px;
    }
    .hebergement-marseille {
        background: white;
    }
    .hebergement-card img {
        min-width: 100%;
    }
    .popular-marseille {
        border-radius: 0px;
    }
    .popular-marseille article .star-header {
        width: 100%;
    }
    /* ACTIVITIES MARSEILLE */
    /* ACTIVITIES */
    .list-activities {
        flex-direction: column;
        justify-content: center;
    }
    .activity-card {
        margin: 0 auto;
    }
    .big-card .activity-card,
    .small-card .activity-card {
        height: auto;
    }
    .activity-card img {
        min-width: 100%;
    }
    .big-card .activity-card img,
    .small-card .activity-card img {
        height: 140px;
    }
    .sm-first {
        margin: 0px auto;
        gap: 16px;
    }
    .sm-first,
    .small-card {
        width: 100%;
    }
    .sm-first.card {
        max-width: 100%;
    }
    .activities-marseille h1,
    .description-more h1,
    .hebergement-marseille h1 {
        margin-left: 26px;
    }
    .activities-marseille h1 {
        margin-top: 0px;
    }
    footer {
        max-width: 768px;
    }
    .footer {
        flex-direction: column;
        width: 95%;
        gap: 24px;
    }
}