/* Extra large devices (laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    /* main {
        max-width: 1800px;
    } */
    /* MAIN CONTENT */
    .location-marseille {
        flex-direction: row;
    }
    .popular-list {
        flex-direction: column;
        margin: auto 20px;
    }
    /** Popular **/
    .popular-card {
        flex-direction: row;
        /*
        min-width: 250px;
        */
        width: 100%;
        border-radius: 25px;
        margin: 20px auto;
        cursor: pointer;
    }
    .popular-card img {
        max-width: 170px;
        min-width: 170px;
        height: 170px;
        border: 5px solid white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }
    .popular-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .hebergement-marseille {
        margin-right: 35px;
        max-width: 70%;
    }
    .popular-marseille {
        max-width: 30%;
    }
    /* ACTIVITIES */
    .activities-marseille {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 0px;
    }
    .activities-marseille h1 {
        margin-left: 40px;
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .list-activities {
        width: 100%;
        flex-wrap: nowrap;
        grid-row: 1;
        padding-top: 0px;
    }
    .big-card .activity-card {
        height: 500px;
    }
    .big-card .activity-card img {
        height: 440px;
        max-width: 350px;
    }
    .small-card .activity-card img {
        height: 200px;
        /* max-width: 350px; */
        width: 100%;
    }
    .activity-card.small img {
        height: 150px;
        width: 100%;
    }
    .sm-first {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        width: 100%;
    }
    .card:nth-child(1) {
        order: 1;
    }
    .card:nth-child(2) {
        order: 1;
    }
    .card:nth-child(3) {
        order: 1;
    }
    .card:nth-child(4) {
        order: 1;
    }
    .activity-name {
        padding: 5px;
    }
}