/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
    body {
        background: yellowgreen;
    }
    /** Popular **/
    .activity-list {
        width: 100%;
    }
}