@media screen and (min-width: 1200px) {
    .container {
        /* width: 1200px; */
        margin: 0px auto;
    }
    /* HEADER STYLING */
    /* MAIN CONTENT */
    main {
        width: 98%;
        margin: 0 auto;
    }
    /** Hebergement à Marseille **/
    .location-marseille {
        display: flex;
        gap: 24px;
    }
    .hebergement-marseille {
        background: #F2F2F2;
        width: 70%;
    }
    .hebergement-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        gap: 24px;
    }
    .hebergement-card {
        background: white;
        border-radius: 25px;
        cursor: pointer;
    }
    .hebergement-card img {
        min-width: 240px;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid white;
    }
    .hebergement-details {
        margin: 0px 0px 16px 16px;
    }
    .hebergement-marseille h1 {
        margin: 24px;
        margin-top: 48px;
        font-size: 20px;
    }
    .info {
        margin: 24px;
        cursor: pointer;
    }
    .popular-marseille,
    .hebergement-marseille {
        border-radius: 12px;
    }
    /** popular **/
    .popular-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }
    .popular-marseille {
        background: #F2F2F2;
    }
    .popular-card {
        display: flex;
        width: 80%;
        border-radius: 25px;
        margin: 0 auto;
        cursor: pointer;
        background: white;
    }
    .popular-card img {
        max-width: 170px;
        min-width: 170px;
        height: 150px;
        border: 5px solid white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }
    .popular-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 16px;
    }
    .popular-marseille article h1 {
        margin: 24px;
        font-size: 20px;
        margin-left: 48px;
        margin-top: 48px
    }
    /* ACTIVITIES MARSEILLE */
    /* ACTIVITIES */
    .activities-marseille {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 0px;
    }
    .activities-marseille h1 {
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .list-activities {
        margin-top: 36px;
        display: flex;
        /* width: 100%; */
        /* flex-wrap: nowrap; */
        grid-row: 1;
        gap: 40px;
        justify-content: space-between;
    }
    .activity-card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .activity-card img {
        max-width: 270px;
        object-fit: cover;
    }
    .big-card .activity-card {
        height: 400px;
    }
    .big-card .activity-card img {
        height: 350px;
        /* max-width: 350px; */
    }
    .small-card .activity-card img {
        min-width: 250px;
        height: 150px;
    }
    .activity-card.small img {
        height: 100px;
        object-fit: cover;
    }
    .sm-first {
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: space-between;
    }
    .card:nth-child(1) {
        order: 1;
    }
    .card:nth-child(2) {
        order: 1;
    }
    .card:nth-child(3) {
        order: 1;
    }
    .card:nth-child(4) {
        order: 1;
    }
    .activity-name {
        padding: 5px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1400px;
        margin: 0px auto;
    }
    /* HEADER STYLING */
    /* MAIN CONTENT */
    main {
        width: 98%;
        margin: 0 auto;
    }
    /** Hebergement à Marseille **/
    .location-marseille {
        display: flex;
        gap: 24px;
    }
    .hebergement-marseille {
        background: #F2F2F2;
        width: 70%;
    }
    .hebergement-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        gap: 24px;
    }
    .hebergement-card {
        background: white;
        border-radius: 25px;
        cursor: pointer;
    }
    .hebergement-card img {
        min-width: 240px;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid white;
    }
    .hebergement-details {
        margin: 0px 0px 16px 16px;
    }
    .hebergement-marseille h1 {
        margin: 24px;
        margin-top: 48px;
        font-size: 20px;
    }
    .info {
        margin: 24px;
        cursor: pointer;
    }
    .popular-marseille,
    .hebergement-marseille {
        border-radius: 12px;
    }
    /** popular **/
    .popular-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }
    .popular-marseille {
        background: #F2F2F2;
    }
    .popular-card {
        display: flex;
        width: 80%;
        border-radius: 25px;
        margin: 0 auto;
        cursor: pointer;
        background: white;
    }
    .popular-card img {
        max-width: 170px;
        min-width: 170px;
        height: 150px;
        border: 5px solid white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }
    .popular-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 16px;
    }
    .popular-marseille article h1 {
        margin: 24px;
        font-size: 20px;
        margin-left: 48px;
        margin-top: 48px
    }
    /* ACTIVITIES MARSEILLE */
    /* ACTIVITIES */
    .activities-marseille {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 0px;
    }
    .activities-marseille h1 {
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .list-activities {
        margin-top: 36px;
        display: flex;
        /* width: 100%; */
        /* flex-wrap: nowrap; */
        grid-row: 1;
        gap: 40px;
        justify-content: space-between;
    }
    .activity-card img {
        max-width: 300px;
        object-fit: cover;
    }
    .big-card .activity-card {
        height: 500px;
    }
    .big-card .activity-card img {
        height: 450px;
        /* max-width: 350px; */
    }
    .small-card .activity-card img {
        min-width: 300px;
        height: 250px;
        /* max-width: 350px; */
        /* max-width: 350px; */
        /* width: 100%; */
    }
    .activity-card.small img {
        height: 130px;
        object-fit: cover;
        /* width: 100%; */
        /* max-width: 350px; */
    }
    .sm-first {
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: space-between;
    }
    .card:nth-child(1) {
        order: 1;
    }
    .card:nth-child(2) {
        order: 1;
    }
    .card:nth-child(3) {
        order: 1;
    }
    .card:nth-child(4) {
        order: 1;
    }
    .activity-name {
        padding: 5px;
    }
}


/* Hello */

@media screen and (max-width:1200px) {
    header {
        width: 95%;
        margin: 0 auto;
    }
    .activity-card img {
        max-width: 350px;
        object-fit: cover;
    }
    .location-marseille {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
    }
    .hebergement-marseille {
        width: 100%;
    }
    .hebergement-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        gap: 24px;
    }
    .hebergement-card {
        background: white;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .hebergement-card img {
        min-width: 330px;
        height: 160px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid white;
    }
    .hebergement-details {
        margin: 0px 0px 16px 16px;
    }
    .hebergement-marseille h1 {
        margin: 24px;
        margin-top: 48px;
        font-size: 20px;
    }
    .info {
        margin: 24px;
        cursor: pointer;
    }
    /** popular **/
    .popular-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .popular-marseille {
        background: #F2F2F2;
        padding-bottom: 36px;
    }
    .popular-card {
        display: flex;
        width: 90%;
        border-radius: 25px;
        margin: 0 auto;
        cursor: pointer;
        background: white;
    }
    .popular-card img {
        max-width: 300px;
        min-width: 270px;
        height: 200px;
        border: 5px solid white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }
    .popular-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 16px;
    }
    .popular-marseille article h1 {
        margin: 24px;
        font-size: 20px;
        margin-left: 48px;
        margin-top: 48px
    }
    /* ACTIVITIES MARSEILLE */
    /* ACTIVITIES */
    /* ACTIVITIES */
    .activities-marseille h1 {
        margin: 24px;
        margin-top: 48px;
        font-size: 20px;
    }
    .list-activities {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 26px;
        margin: 26px auto;
        width: 95%;
    }
    .activity-card {
        min-width: 330px;
        background: white;
        border-radius: 25px;
        cursor: pointer;
    }
    .activity-card img {
        /* min-width: 430px; */
        min-width: 450px;
        height: 260px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid white;
    }
    .activity-card img {
        border: none;
    }
    .sm-first {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .card:nth-child(1) {
        order: -1;
    }
    .card:nth-child(2) {
        order: 1;
    }
    .card:nth-child(3) {
        order: 0;
    }
    .card:nth-child(4) {
        order: 1;
    }
    .activity-name {
        margin: 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 992px) {
    /* screen 992x and less */
    header {
        width: 95%;
        margin: 0 auto;
    }
    .popular-marseille,
    .hebergement-marseille {
        border-radius: 0px;
        margin-bottom: 24px;
    }
    .popular-marseille article {
        margin-bottom: 32px;
    }
    .popular-card {
        display: flex;
        width: 90%;
        border-radius: 25px;
        margin: 0 auto;
        cursor: pointer;
        background: white;
    }
    .popular-card img {
        max-width: 300px;
        min-width: 270px;
        height: 200px;
        border: 5px solid white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }
    .popular-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 16px;
    }
    .popular-marseille article h1 {
        margin: 24px;
        font-size: 20px;
        margin-left: 48px;
        margin-top: 48px
    }
    /* ACTIVITIES */
    .list-activities {
        display: flex;
        justify-content: center;
    }
    .activity-card {
        min-width: 330px;
        background: white;
        border-radius: 25px;
        cursor: pointer;
    }
    .activity-card img {
        min-width: 330px;
        height: 160px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid white;
    }
    .activity-card img {
        border: none;
    }
    .activity-card {
        margin-right: 15px;
    }
    .sm-first {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card:nth-child(1) {
        order: -1;
    }
    .card:nth-child(2) {
        order: 1;
    }
    .card:nth-child(3) {
        order: 0;
    }
    .card:nth-child(4) {
        order: 1;
    }
}

@media screen and (max-width: 768px) {
    /* screen 768px and less */
    .filter-badges {
        display: flex;
        flex-wrap: wrap;
    }
    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
    }
    .main-header .logo {
        margin: 0 auto;
    }
    .main-header {
        align-items: stretch;
    }
    nav ul {
        display: flex;
        margin: 0px;
        justify-content: space-around;
    }
    nav li a {
        padding: 19px;
    }
    nav ul li a:hover {
        border: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    form {
        margin: 10px auto;
    }
    .logo {
        width: 150px;
        margin-top: 10px;
    }
    .search-btn {
        display: none;
    }
    .icon-search-btn {
        display: block;
        padding: 0px 20px;
        margin-left: -5px;
        border-radius: 12px;
        border: none;
        color: white;
        background: #0065FC;
    }
    .hebergement-marseille {
        background: white;
    }
    .hebergement-card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 90%;
    }
    .hebergement-card img {
        min-width: 100%;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid white;
    }
    .popular-card {
        display: flex;
        width: 90%;
        border-radius: 25px;
        margin: 0 auto;
        cursor: pointer;
        background: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .popular-card img {
        max-width: 170px;
        min-width: 170px;
        height: 170px;
        border: 5px solid white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }
    .popular-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 16px;
    }
    .popular-marseille article h1 {
        margin: 24px;
        font-size: 20px;
        margin-left: 48px;
        margin-top: 48px
    }
    /* ACTIVITIES MARSEILLE */
    /* ACTIVITIES */
    .list-activities {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .activity-card {
        /* width: 90%; */
        width: 90%;
        background: white;
        border-radius: 25px;
        cursor: pointer;
        margin: 0 auto;
    }
    .activity-card img {
        min-width: 100%;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid white;
    }
    .sm-first {
        display: flex;
        flex-direction: column;
    }
    /** FOOTER **/
    footer {
        flex-direction: column;
        padding: 0px 40px;
    }
    .footer-info:nth-child(1) {
        padding-top: 40px;
    }
    .footer-info:last-child {
        padding-bottom: 20px;
    }
    .footer-info ul {
        list-style: none;
        margin-top: 10px;
    }
    .footer-info h2 {
        font-weight: 600;
    }
}