@media screen and (max-width: 768px) {
    .main-header {
        flex-direction: column;
        width: 100%;
    }
    .booki-logo {
        justify-content: center;
        align-self: center;
        border: 2px solid red;
    }
    .booki-logo img {
        width: 120px;
    }
    .booki-nav {
        margin-bottom: 20px;
    }
    .booki-nav a:link {
        padding: 20px 50px;
    }
    .booki-nav a:hover {
        border: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    .search-btn {
        display: none
    }
    .icon-search-btn {
        display: block;
        padding: 0px 20px;
        margin-left: -5px;
        border-radius: 12px;
        border: none;
        color: white;
        background: #0065FC;
    }
    .booki-filter {
        flex-direction: column;
    }
    .booki-filter h1 {
        align-self: flex-start;
        margin-left: -20px;
    }
    .logement-dispo {
        margin-left: -20px;
    }
    .logement-dispo span {
        font-size: 20px;
    }
    .filter-list {
        border: 5px solid red;
        width: auto;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -50px;
    }
    /* MAIN CONTENT */
    main {
        width: auto;
    }
    /* hebergement */
    .location-marseille {
        flex-direction: column-reverse;
        width: 100%;
    }
    .booki-hebergements {
        background: white;
        border: 5px red violet;
    }
    .list-hebergements {
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }
    .hebergement {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: -10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .image-hebergement img {
        width: 95%;
        height: 140px;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        margin: 10px;
        margin-bottom: 0px;
    }
    .info-hebergement h3 {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .info-hebergement .stars {
        margin-bottom: 10px;
    }
    .activities-marseille {
        width: 100%;
        margin-left: 0px;
    }
    .booki-activities {
        margin-left: 0px;
    }
    .booki-list-popular {
        width: 100%;
        border: 5px solid yellow;
        margin-left: 0;
    }
    .booki-popular {
        border: none;
        margin: 0 auto;
        margin-left: -20px;
        border-radius: 0px;
        width: 100%;
        border: 2px solid blue;
    }
    .popular {
        border: 2px solid red;
        width: 90%;
        margin: 10px;
    }
    /* ACTIVITIEs MARSEILLE */
    .list-activities {
        flex-direction: column;
    }
    .cover-activities {
        flex-direction: column;
        border: 5px solid blue;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cover-activities .activities img {
        width: 100%;
    }
    .cover-activities .activities {
        width: 100%;
    }
    .cover-activities .activities .image-location img {
        height: 150px;
        margin-bottom: 10px;
    }
    .small-cover-activities .activities .image-location img {
        height: 150px;
        margin-bottom: 10px;
    }
    .small-cover-activities {
        flex-direction: column;
        border: 5px solid orange;
        margin-bottom: 20px;
    }
    .small-cover-activities .activities {
        width: 100%;
        margin-bottom: 20px;
    }
    .small-cover-activities .activities img {
        width: 100%;
    }
    /* FOOTER */
    footer {
        flex-direction: column;
    }
    footer h2 {
        margin-top: 20px;
    }
}