@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* Inherit fonts for inputs and buttons */

input,
button {
    font: inherit;
}


/* STARS */

.popular-description .stars i,
.hebergement-description .stars i {
    color: #0065FC;
}

.hebergement-description .less i:last-child,
.hebergement-description .less i.unstarted {
    color: #F2F2F2;
}

.popular-description .stars i:last-child {
    color: #F2F2F2;
}

.popular-description .full i:last-child {
    color: #0065FC;
}