/* HEADER STYLING */

header {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 5px;
    width: 100%;
    margin-bottom: 24px;
}

nav ul {
    margin-right: 30px;
}

nav li a {
    list-style: none;
    text-decoration: none;
    padding: 30px 20px;
    color: black;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.search-btn {
    font-weight: 500;
    padding: 0px 30px;
    color: white;
    font-size: 18px;
    background: #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid #0065FC;
}


/** form **/

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 24px;
}

.logo {
    width: 150px;
}

.form-section>* {
    margin-bottom: 12px;
}

form {
    display: flex;
    max-width: 500px;
}

form .icon {
    background: #F2F2F2;
    border: none;
    padding: 14px 26px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: none
}

form .search-input {
    font-size: 18px;
    border: 1px solid #F2F2F2;
    max-width: 300px;
    padding-left: 15px;
}

form .search-input::placeholder {
    font-weight: bold;
    color: black;
    letter-spacing: 0.5px;
}

form .search-btn:active {
    border: none;
}

.icon-search-btn {
    display: none;
}


/** Filter **/

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 24px 0;
    gap: 24px;
}

.filter-badges {
    display: flex;
    gap: 12px;
}

.filter-badges>*+* {
    margin-left: 1em;
}

.filter-badge * {
    margin: 0px;
}

.filter-badge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
}

.filter-badge i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: -2px;
}

.filter-badge span {
    display: inline-block;
    align-items: center;
    padding: 0px 20px;
    font-weight: 700;
    font-size: 15px;
}

.filter-badges .fa-dog,
.fa-money-bill-wave,
.fa-child-reaching,
.fa-heart,
.fa-circle-info {
    color: #0065FC;
}

.location-info {
    display: flex;
    align-items: center;
}

.location-info i {
    color: #0065FC;
    border-radius: 50%;
    border: 3px solid #F2F2F2;
    height: 30px;
    width: 30px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-badge:hover {
    background: #F2F2F2;
    cursor: pointer;
    font-size: 18px;
}

.location-info {
    display: flex;
    gap: 12px;
}

footer {
    background: #F2F2F2;
    margin-top: 40px;
}

.activity-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: white;
    border-radius: 25px;
}

.activity-card img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.activity-name {
    margin: 10px;
}


/* FOOTER */

footer {
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    width: 100%;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info ul {
    list-style: none;
    margin-top: 10px;
}

.footer-info ul li {
    margin-left: -40px;
    font-weight: 300;
    padding-top: 10px;
}

.footer-info h2 {
    font-weight: 600;
}