@media screen and (max-width: 1500px) {
    .location-marseille {
        flex-direction: column-reverse;
        width: 100%;
    }
    .booki-list-popular {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;
    }
    .hebergements {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .location-marseille {
        flex-direction: column-reverse;
        width: 100%;
    }
    .booki-hebergements {
        background: white;
    }
    .booki-list-popular {
        flex-direction: column;
        margin-right: 50px;
        margin-left: 20px;
    }
    .popular {
        width: 80%;
    }
    .list-hebergements {
        flex-direction: column;
    }
    .booki-filter {
        flex-direction: column;
    }
    .filter-list {
        border: 5px solid red;
        width: auto;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .hebergement {
        display: flex;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .hebergement {
        width: 65%;
    }
    .image-hebergement img {
        width: 300px;
        height: 250px;
        margin: 10px;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 0px;
    }
    .info-hebergement {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
    }
    .info-hebergement h3 {
        margin-top: 30px;
    }
    .info-hebergement p {
        margin-top: -20px;
        font-weight: 300;
    }
}